/*!* Estrutura Principal do Conteúdo *!*/
/*.main-content {*/
/*    display: flex;*/
/*    flex-direction: row; !* Define a orientação dos filhos como linha *!*/
/*    max-width: 1200px; !* Largura máxima do conteúdo principal *!*/
/*    margin: 100px auto 0; !* Margem para topo, centralizado horizontalmente, sem margem inferior *!*/
/*    padding: 20px;*/
/*    box-sizing: border-box; !* Garante que padding não adicione largura extra *!*/
/*}*/

.main-content {
    display: flex;
    flex-wrap: wrap; /* Permite que o sidebar se mova conforme a largura da tela */
    justify-content: space-between; /* Espaçamento entre os posts e o sidebar */
    align-items: flex-start; /* Alinha itens ao topo */
    padding: 20px;
    margin-top: 20px; /* Ajuste conforme a altura do seu header */
}

.posts {
    flex: 0 1 75%; /* Flex-grow, Flex-shrink, Flex-basis */
    margin-right: 20px; /* Espaçamento entre os posts e o sidebar */
}

/*!* Estilização dos Posts *!*/
/*.blog-post {*/
/*    flex: 1 0 75%; !* Ocupa 75% do espaço quando a tela é grande *!*/
/*    max-width: 75%; !* Máximo de 75% de largura *!*/
/*    order: 1; !* A ordem de renderização - posts primeiro *!*/
/*    margin-bottom: 20px;*/
/*    padding: 10px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
/*    border-radius: 8px;*/
/*}*/

.post {
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom: 50px;
}

.post h2 {
    color: #333 !important; /* Cor diferenciada para o título */
    margin-bottom: 10px; /* Espaçamento adequado para a imagem */
}

.post h1 {
    color: #0056b3 !important; /* Cor diferenciada para o título */
}

.post img {
    width: 100%; /* Mantém a largura da imagem igual à largura do contêiner */
    height: 270px !important; /* Fixa a altura da imagem para 180px */
    object-fit: cover; /* Mantém a proporção da imagem enquanto preenche o espaço designado */
    border-radius: 5px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Links dentro dos posts */
.post a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Estilos de Paginação */
.pagination {
    display: flex;
    justify-content: center; /* Centraliza os botões de paginação horizontalmente */
    align-items: center; /* Centraliza verticalmente se necessário */
    width: 100%;
    margin: 20px 0;
}

.pagination button, .pagination span {
    margin: 0 10px;
    padding: 8px 16px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
}

/* Estilos de Categorias na Sidebar */
.sidebar {
    flex: 0 1 20%;
    height: auto;
    position: sticky;
    top: 110px; /* Ajuste este valor baseado na altura do seu header */
}

.sidebar h3 {
    font-size: 18px;
    color: #333 !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 5px 0;
}