/* Base para o rodapé */
footer {
    background-color: #343a40; /* Fundo escuro para contraste */
    color: #ccc; /* Cor de texto geral para legibilidade */
    padding: 20px 0; /* Padding para espaçamento interno */
}

/* Títulos no rodapé */
footer h5 {
    color: #fff; /* Títulos em branco para destaque */
}

/* Texto normal no rodapé */
footer p, footer li {
    color: #ccc; /* Texto em cinza claro */
}

/* Links no rodapé */
footer a, footer a:link, footer a:visited {
    color: #79cae8 !important; /* Azul claro para links, forçando a cor com !important */
    text-decoration: none; /* Sem sublinhado para links */
}

footer a:hover, footer a:focus {
    color: #ffffff !important; /* Branco para hover e foco, com !important para garantir aplicação */
    text-decoration: underline !important; /* Sublinhado para destacar interatividade */
}

/* Botões no rodapé */
footer .btn-primary {
    background-color: #007bff; /* Cor do botão */
    border: none; /* Sem borda para botões */
}

footer .btn-primary:hover, footer .btn-primary:focus {
    background-color: #0056b3; /* Cor mais escura no hover e foco */
}

/* Formulário de newsletter */
input[type="email"], textarea, button[type="submit"] {
    width: 100%; /* Largura total para melhor layout */
    margin-top: 10px; /* Espaço acima do campo para separação visual */
}

#cta-ana-section .container {
    text-align: center;
    padding: 20px;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem !important;
    background-color: #f0f4f7;  /* A cor de fundo pode ser ajustada conforme necessário */
    height: 100%;
}

#cta-ana-section .container p {
    color: #333;
}

#cta-ana-section a {
    padding: 20px;
    text-align: left;
    color: white !important;
    text-decoration: none;
}

#cta-ana-section a:hover {
    text-decoration: none !important;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;  /* Cor verde WhatsApp */
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.whatsapp-button img {
    vertical-align: middle;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
