/* Estrutura Principal */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite a quebra de linha conforme a necessidade */
    max-width: 1200px;
    margin: 20px auto;
    overflow: visible; /* Assegura que a propriedade de overflow não bloqueie o sticky */
}

.main-content {
    flex: 3;
    margin-right: 20px; /* Espaço entre o conteúdo principal e a sidebar */
    min-width: 300px; /* Mínimo largura do conteúdo principal para evitar esmagamento */
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 200px;
    position: sticky;
    top: 60px;  /* Espaçamento do topo igual à altura do header mais um pequeno espaço */
    height: fit-content;
}

/* Estilização dos Posts */
.blog-post {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.blog-post h2 {
    /*font-size: 26px; !* Tamanho maior para o título *!*/
    color: #0056b3; /* Cor diferenciada para o título */
    margin-bottom: 10px; /* Espaçamento adequado para a imagem */
}

.blog-post img {
    width: 100%; /* Mantém a largura da imagem igual à largura do contêiner */
    height: 270px !important; /* Fixa a altura da imagem para 180px */
    object-fit: cover; /* Mantém a proporção da imagem enquanto preenche o espaço designado */
    border-radius: 5px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

/* Links dentro dos posts */
.blog-post a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Paginação */
.pagination {
    display: flex;
    justify-content: center; /* Centraliza os botões de paginação horizontalmente */
    align-items: center; /* Centraliza verticalmente se necessário */
    width: 100%;
    margin: 20px 0;
}

.pagination button, .pagination span {
    margin: 0 10px;
    padding: 8px 16px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
}

/* Estilos de Categorias na Sidebar */
.sidebar h3 {
    font-size: 18px;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    display: block;
    padding: 5px 0;
}