<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <h5>Links Rápidos</h5>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#about" data-to="#about" class="text-white footer-link">Sobre Nós</a></li>
                    <li><a href="#services" data-to="#services" class="text-white">Serviços</a></li>
<!--                    <li><a href="#content-value" data-to="#content-value" class="text-white">Explore Mais</a></li>-->
                    <li><a href="#proof-of-value" data-to="#proof-of-value" class="text-white">Confiança e Excelência</a></li>
<!--                    <li><a href="#contact" data-to="#contact" class="text-white">Fale Conosco</a></li>-->
                    <li><a href="blog.html" class="text-white">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <h5>Redes Sociais</h5>
<!--                <a href="#" class="d-block text-white">Facebook</a>-->
                <a href="https://www.instagram.com/descubra_rotanativa" class="d-block text-white">Instagram</a>
                <a href="#" class="d-block text-white">LinkedIn</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div id="cta-ana-section">
                    <div class="container">
                        <h5>Fale diretamente com nossa assistente virtual, Ana!</h5>
                        <p>Tem alguma dúvida ou precisa de ajuda? Clique abaixo para começar a conversar!</p>
                        <a href="https://wa.me/5583933008692?text=Olá%20Ana,%20estou%20interessado%20em%20saber%20mais%20sobre%20os%20serviços%20da%20Rota%20Nativa!" target="_blank" class="whatsapp-button">
                            <img src="images/favicon.svg" alt="Fale com Ana" style="width: 30px; height: auto;">
                            Converse com a Ana
                        </a>
                    </div>
                </div>
<!--                <h5>Inscrição para Newsletter</h5>-->
<!--                <form>-->
<!--                    <div class="mb-3">-->
<!--                        <input type="email" class="form-control" placeholder="Seu email">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Inscreva-se</button>-->
<!--                </form>-->
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <h5>Legal</h5>
                <a href="#" class="d-block text-white">Política de Privacidade</a>
                <a href="#" class="d-block text-white">Termos de Uso</a>
                <p class="mt-2">© 2024 Rota Nativa. Todos os direitos reservados.</p>
                <p class="mt-2">Rota Nativa é um negócio criado pela <a href="https://thorgus.com">Thorgus</a>.</p>
            </div>
        </div>
    </div>
</footer>