<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #f8f9fa;">
        <div class="container">
            <a class="navbar-brand" href="#home" data-to="#home">
                <img src="/images/logo-horizontal.png" alt="Logo" class="d-inline-block align-text-top navbar-brand">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#about" data-to="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#services" data-to="#services">Serviços</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" aria-current="page" href="#content-value" data-to="#content-value">Explore Mais</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#proof-of-value" data-to="#proof-of-value">Confiança e Excelência</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" aria-current="page" href="#contact" data-to="#contact">Contato</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" aria-current="page" href="blog.html">Blog</a>-->
<!--                    </li>-->
                </ul>
                <a href="https://wa.me/5583933008692?text=Olá%20Ana,%20gostaria%20de%20me%20juntar%20à%20lista%20de%20espera%20da%20Rota%20Nativa!" target="_blank" class="whatsapp-cta-button">
                    <span>Converse com a Ana</span>
                </a>
            </div>
        </div>
    </nav>
</header>